.tour-item {
  display: flex;
  align-items: center;
}

.tour-date {
  margin-right: 80px;
  color: black;
}

.tour-place {
  margin-right: 180px;
}

.tour-spec-place {
  flex: 1; 
  margin-right: 100px;
}

.buy-btn {
  margin-left: auto; 
}

.buy-btn{
  width: 180px;
  padding: 3px;
  background-color: #56CCF2;
  font: 500px;
  color: white;
}

.botton-line{
border-top: 2px solid black;
}
